{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
   <div class="usa-hero__callout">
      <!--<h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">What is the CMTS:</span>Bring attention to a project priority
      </h1>-->
    <p>The CMTS serves as a Federal interagency coordinating committee for the purpose of assessing the adequacy of the marine transportation system, promoting the integration of the marine transportation system with other modes of transportation and other uses of the marine environment, and coordinating, improving the coordination of, and making recommendations with regard to Federal policies that impact the marine transportation system.</p>
     <!--<a class="usa-button" href="javascript:void(0)">Call to action</a>--> 
    </div>
  </div>
</section>
