{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--light font_smaller"> <!--usa-section--dark-->
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <!-- asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-collection__calendar-date">
          <time datetime="">
            <span class="usa-collection__calendar-date-month">DEC 02</span>
            <span class="usa-collection__calendar-date-day">2021</span>
          </time>
        </div>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading font_small">CMTS, Embassies of Denmark and Norway Webinar on UNESCO Decade of the Ocean and Sustainable Marine Transportation System</h3>
          <p>Event Details: Tuesday, December 2, 2021 0900-1100 ET</p>
          <p>In support of the United Nations Decade of Ocean Science for sustainable Development, the U.S. Committee on the Marine Transportation System (CMTS) is partnering with the Embassy of Denmark and Norwegian Embassy to co-host a virtual public forum for meaningful discussion on applied science and technologies toward a sustainable marine transportation system (MTS) for healthier oceans.</p>
          <a href="/events/">Read More</a>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <!--asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-collection__calendar-date">
          <time datetime="">
            <span class="usa-collection__calendar-date-month">NOV 01</span>
            <span class="usa-collection__calendar-date-day">2021</span>
          </time>
        </div>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading font_small">Webinar: U.S. Mariner Mental Health Needs During Covid-19 Survey Results</h3>
          <p>Event Details: Monday, November 1, 2021, 2–3:30 EST</p>
          <p>THe CMTS <a href="/covid/">COVID-19 Working Group</a> (C-19 WG) is hosting a webinar to share the recent results of the recent mariner mental health survey. The 
            confidential survey was conducted independently by <a href="https://deohs.washington.edu/faculty/marissa-baker" target="_new">Dr. Marissa Baker</a>, Assistant Professor & Industrial Hygiene Program Director, University
             of Washington School of Public Health.</p>
            <a href="/events/#2">Read More</a>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
     
      <div class="usa-media-block tablet:grid-col">
        <!-- asset circle-124.png class="usa-media-block__img" alt="Alt text" text="test" -->

          <div class="usa-collection__calendar-date">
            <time datetime="">
              <span class="usa-collection__calendar-date-month">SEP 30</span>
              <span class="usa-collection__calendar-date-day">2021</span>
            </time>
          </div>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading font_small">Ms. Lucinda Lessley Designated As Chair Of The CMTS Coordinating Board</h3>
          <p>USDOT Under Secretary Carlos Monje designates Ms. Lucinda Lessley, Acting Administrator, as Chair of the CMTS Coordinating Board.</p>
          <a href="/press-release/">Read More</a>
        </div>
      </div>
  
      <div class="usa-media-block tablet:grid-col">
        <!--asset circle-124.png class="usa-media-block__img" alt="Offshore Wind Energy Development Public Industry Listening Session" -->
        <div class="usa-collection__calendar-date">
          <time datetime="">
            <span class="usa-collection__calendar-date-month">NOV 02</span>
            <span class="usa-collection__calendar-date-day">2021</span>
          </time>
        </div>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading font_small">Offshore Wind Energy Development Public Industry Listening Session</h3>
          <p>Event Details: Tuesday, November 2, 2021, 11–12:30 EST</p>
          <p>The CMTS Offshore Energy Facilitation Task Team is hosting a virtual industry Listening Session to directly hear from segments of the offshore
            wind industry regarding issues and impacts in mitigating munitions and explosives of concern (MEC) within our continental shelf wind lease 
            areas and near project areas including easements. 
          </p>
            <a href="/events/#3">Read More</a>
          </div>
      </div>
    </div>
  </div>
</section>