---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1 class="title">{{page.title}}</h1>
        <div class="text-base margin-bottom-2">
          <div class="margin-top-neg-105">
            Posted On: {{ page.date | date: '%B %d, %Y' }}
            <span style="font-size:medium;padding-left:20px;">
              {% for tag in page.tags %}
              <a href=>{{ tag }}</a><!--<span class="usa-tag"></span>-->          
              {% endfor %}  
              </span>

              {% if page.event_date != null %}
               <div><span class="text-bold">Event Details: {{ page.event_date |
                event_date: '%B %d, %Y' }} EST</span>
               </div>
              {% endif %}   
          </div>
        </div>
        {{ content }}
      </div>
    </div>
  </div>
</div>